*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.singleTitle{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.w-400{
  width: 400px;
}
.navbar li {
  /* text-transform: uppercase !important; */
}
a{
    text-decoration: none;
    color:#555;
}
.slider img{
    height: 450px !important;
    width: 100% !important;
}
.bg-prolight{
    background-color: #EDEBF6 !important;
}
.single-product{
    margin:40px 0;
}
.single-product .col-2 img {
  padding: 0;
}
.single-product .col-2 {
  padding: 20px;
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #343a40;
}
.single-product .proDetails{
    margin: -10px 0 -13px;
    /* padding: -10px 0; */
}
.single-product img{
    height:500px;
    width: 500px;
    float: right;
    border:1px solid lightgray;
}
.single-product input:focus {
  outline: none;
}
.single-product .fa {
  color: #343a40;
  margin-left: 10px;
}
.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.mybtn {
  padding: 10px 24px;
  border: none;
  outline: none;
  background: #343a40;
  color: #fff;

  transition: backgrond 0.5s;
}
.mybtn:hover {
  background: #563334;
  color:white;
}
.btn2 {
  display: inline-block;
  background: #343a40;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn2:hover {
  background: #563334;
}

.pagination{
    display: flex;
}

.media{
  text-align: center;
  
}
.media img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: lightgray;
  margin: 20px 0 10px;
  object-fit: contain;
}
.icons{
  font-size: 18px;

}